!!!
%html{:lang => "en"}
  %head
    = render 'layouts/shared/header'
    = csrf_meta_tag
  %body
    = render 'layouts/shared/panel1'
    =# render 'layouts/shared/panel2'
    =# render 'layouts/shared/panel3'
    =# render 'layouts/shared/panel4'
    =# render 'layouts/shared/panel5'
    = render 'layouts/shared/map'
    = render 'layouts/shared/contact'
    = render 'layouts/shared/footer'
